@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

[data-media-player] {
  height: 100%;
  display: block !important;
  aspect-ratio: auto;
}

[data-media-provider] {
  height: 100%;
  border: none;
}

[data-media-provider] video {
  height: 100%;
  object-fit: contain;
  display: block;
}

[data-media-provider] img {
  height: 100%;
  object-fit: contain;
}